<section class="container mt-3">
    <div class="row">
        <h5>TotalSteps: {{totalSteps}} </h5>
    </div>
    <div class="row">
        <div>
            <header-section [steps]="steps" [selectedIndex]="selectedStepIndex" [page]="currentPage"
                [pageSize]="pageSize" (stepSelected)="onStepSelection($event)" (stepAdded)="onStepAdded()"
                (stepRemoved)="onStepRemoved($event)" (nextPageClicked)="onNextPagesClicked()"
                (prevPageClicked)="onPrevPagesClikced()"></header-section>
        </div>
        <div class="col">
            <div class="col">
                <button class="btn btn-small bg-primary mt-3" (click)="onAddNewItemClicked()">Add New Item</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <item *ngFor="let item of items; let i = index;" [index]="i+1" [item]="item" (click)="onItemClicked(item)"
                (itemRemoved)="onItemRemoved($event)"></item>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <add-new-item *ngIf="steps.length > 0 && selectedStepIndex > -1" [item]="createOrEditItem"
                (itemCreatedOrUpdated)="onItemCreatedOrUpdated($event)" [enableAddOrEdit]="enableAddOrEditItem">
            </add-new-item>
        </div>
    </div>
    <div class="row">
        <footer-section
            [displayNext]="selectedStepIndex != -1 && canGoNext()"
            [displayPrev]="selectedStepIndex != -1 && canGoPrev()"
            (nextStepClicked)="onNextStepClicked()" (prevStepClicked)="onPrevStepClicked()"></footer-section>
    </div>
</section>