<section class="container">
    <header-section [steps]="headerSteps" [selectedIndex]="selectedStepIndex" (stepSelected)="onStepSelection($event)"
        (stepAdded)="onStepAdded()" (stepRemoved)="onStepRemoved($event)"></header-section>
    <div *ngFor="let item of items; let i = index;">
        <item [index]="i+1" [item]="item" (click)="onItemClicked(item)"></item>
    </div>
    <add-new-item *ngIf="headerSteps.length > 0 && selectedStepIndex > -1" [item]="createOrEditItem"
        (itemCreated)="onItemCreated($event)">
    </add-new-item>
</section>